{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}

    <aside class="sidebar right-sidebar sticky">
		{{- with (index .Context.Site.Params.widgets $scope) -}}
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                <!-- Ensure that the `params` is not nil -->
                {{- $params := default dict .params -}}

                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" $params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
            {{ end }}
        {{ end }}
		{{ end }}
		{{ if not (eq .Params.comments false) }}
			{{ partial "comments/include" . }}
		{{ end }}
    </aside>
	
	

